@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: #5f27cd;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main .title {
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
  text-align: center;
}

.main .title::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: white;
}

.main .gen_btn {
  background: white;
  color: #5f27cd;
  border: none;
  padding: 5px 10px;
  margin-top: 8px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.main #emoji_tag{
  font-size: 4rem;
  margin: 10px 0px;
}

.main .generating {
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
  text-align: center;
  background: rgba(0,0,0,0.500);
  margin-top: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.main .generating::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin-bottom: 3px;
  background: white;
  animation-name: generating;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes generating {
  from{
    width: 1%;
  }
  to{
    width: 100%;
  }
}

.main .social_box{
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  margin: 10px 10px 0px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.main .social_box a{
  color: #5f27cd;
  font-size: 20px;
  margin: 0px 5px;
}